---
layout: default
title: Archive
---
<style>
    {% include index.css %}
</style>

<h1 class="title">This Beautiful World</h1>
<p class="subtitle">Life is short. I'm just trying to make the best of it.</p>

<ul class="post-list">
  {% for post in site.posts %}
    {% if post.publish %}
      <li class="post-list__item {{ post.slug }}">
      <a class="post-list__link" href="{{ post.url }}">
        <div class="post-list__visual">
          <img class="post-list__img" src="{{ site.baseurl }}/img/covers/{{ post.img }}" alt="{{ post.city }}">
          <div class="post-list__img-blender"></div>

          <h2 class="post-list__loc" class="post-title"> <span class="post-list__loc--city">{{ post.city }}</span><br><span class="post-list__loc--country">{{ post.country }}</span></h2>
        </div>
        </a>
      <span class="post-list__date"> {{ post.date | date: "%B %Y" }}</span>
    </li>
    {% endif %}
  {% endfor %}
</ul>