---
layout: default
title: Archive
---

<h1>This Beautiful World</h1>

<ul class="post-list--archive">
  {% for post in site.posts %}
    {% if post.publish %}
      <li class="{%if post.link-out%}link-out{%endif%}">
      <a href="{{ post.url }}">
        <img src="img/{{ post.img }}" alt="{{ post.city }}">
        <h2 class="post-title"> {{ post.city }}, {{ post.country }}  </h2>
        <span class="post-meta">{{ post.date | date: "%B %Y" }}</span>
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<script src="//use.typekit.net/eqm0qtj.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
</body>
</html>