body {
  @extend %font--base;
}

html,
body {
  margin:0;
  padding:0;
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 10em;
}

::selection {
  color: white;
  background-color: black;
}