@import '../shared';

@font-face {
  font-family: 'Built Titling';
  src: url('/fonts/built-titling-bd.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/fonts/Exo-Regular.otf');
  font-weight: normal;
  font-style: normal;
}


.berlin--page {
  background: url('../../img/berlin/tresor.jpg');
  background-blend-mode: multiply;
  background-size: contain;
  height: 105vh;
  overflow: hidden;

  .location {
    font-family: 'Built Titling',Impact,sans-serif;
    font-size: 13em;
    line-height: .9;
    max-width: 6em;
    margin: 0 0 .45em -.065em;
    position: relative;
    color: #ff0;
    mix-blend-mode: exclusion;
    z-index: 4;
  }

  mark {
    background: black;
    color: white;
  }

  .wall{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 65%;
    mix-blend-mode: screen;
  }

  .date {
    font-family: 'Built Titling', Impact,sans-serif;
    position: absolute;
    top: 1em;
    right: -.05em;
    font-size: 8em;
    mix-blend-mode: color-dodge;
    max-width: 7em;
    color: red;
    z-index: 6;
  }

  .poem {
    @extend %font--base;
    column-count: 2;
    column-gap: 3em;
    max-width: 700px;
    padding: .5em 2em 0 2em;
    margin: -8em 3em;
    position: relative;
    display: inline-block;
    font-family: 'Exo', 'Open Sans';

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #cb00ff;
      opacity: 0.6;
      mix-blend-mode: color-dodge;
      position: absolute;
      top: -4.5em;
      right: 2em;
    }
  }
}