@import '../shared';

@font-face {
  font-family: 'Built Titling';
  src: url('/fonts/built-titling-bd.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/fonts/Exo-Light.otf');
  font-weight: normal;
  font-style: normal;
}

.berlin--page main {
  background: url('../../img/berlin/tresor.jpg'), #c006b6;
  margin-bottom: -7.5em;

  @include breakpoint(sm) {
    margin-bottom: 0;
  }

  @include breakpoint(xs){
    background: url('../../img/berlin/tresor-sm.jpg'), #c006b6;
  }

  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 105vh;

  .location {
    font-family: 'Built Titling', Impact, sans-serif;
    font-size: 13em;
    line-height: .9;
    max-width: 6em;
    margin: 0 0 .45em -.065em;
    position: relative;
    color: #ff0;
    mix-blend-mode: exclusion;
    z-index: 4;

    @include breakpoint(sm) {
      font-size: 7em;
    }
  }

  mark {
    background: black;
    color: white;
  }

  .date {
    font-family: 'Built Titling', Impact,sans-serif;
    position: absolute;
    top: 1em;
    right: -.05em;
    font-size: 8em;
    mix-blend-mode: color-dodge;
    max-width: 7em;
    color: red;
    z-index: 6;

    @include breakpoint(sm) {
      font-size: 5em;
      z-index: 1;
    }
  }

  .poem {
    @extend %font--base;
    column-count: 2;
    column-gap: 3em;
    max-width: 700px;
    padding: .5em 2em 0;
    margin: -8em 3em 8em;
    position: relative;
    display: block;
    font-family: 'Exo', 'Open Sans', sans-serif;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #cb00ff;
      opacity: .6;
      mix-blend-mode: color-dodge;
      position: absolute;
      top: -4.5em;
      right: 2em;
    }

    @include breakpoint(sm) {
      column-count: 1;
      padding: 0 0 8em 2em;
      margin: -4em 2em 0 0;
    }
  }
}