@import '../shared';

.brussels--page {
  min-height: 120vh;

  .poem {
    -webkit-column-count: 3;
    min-height: 20em;
    -webkit-column-gap: 2em;
    padding: 2em;
    z-index: 5;
    position: relative;
    font-family: 'Georgia', serif;
    line-height: 1.7;
    mix-blend-mode: darken;
    color: cornflowerblue;

    strong {
      float: right;
      font-size: 1.6em;
      display: block;
      width: 100%;
      text-align: right;
    }
  }
}

.square {
  position: absolute;
  top: 0;
  left: -10%;
  height: 115vh;
  display: block;
  background: url('../../img/brussels/square.jpg');
  transform: rotate(-13deg);
  width: 120%;
  background-size: cover;
  background-position: 50% 150px;
  background-repeat: no-repeat;
  z-index: -1;
}

.square-2 {
  @extend .square;
  transform: rotate(-8deg) scale(1.15);
  filter: hue-rotate(290deg);
  z-index: 0;
  opacity: 0.8;
  mix-blend-mode: hard-light;
}