@import '../shared';

.colonia-de-sacramento--page main{
   background: url(../../img/colonia/seashore.jpg), #DDE6ED;
    background-size: cover;
    background-position: 33% bottom;
    background-repeat: no-repeat;
    min-height: 110vh;

  .poem-area {
    display: block;
    min-width: 30em;
    max-width: 600px;
    height: 100vh;
    grid-gap: 1em;
    text-align: center;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, auto) 50vh;

    p {
      font-family: 'Titillium Web', sans-serif;
      grid-column: 1 / 4;
      mix-blend-mode: overlay;
      color: black;
      font-weight: 800;

      &:nth-child(2n) {
        grid-column: 2 / 5;
      }
    }
  }



  br {
    line-height: 2;
    clear: both;
  }

  .metadata-area {
    font-family: 'Amatic SC',cursive;
    position: absolute;
    top: 300px;
    left: 700px;
    text-align: center;
    right: 0;
    font-size: 48px;
    mix-blend-mode: overlay;
    color: #30559e;

    .city,
    .month {
      display: inline;

      @include breakpoint(md) {
        display: block;
      }
    }

    @include breakpoint(md) {
      top: 500px;
      left: 0;
    }

    @include breakpoint(xs) {
      top: 600px;
    }
  }
}
