@import '../shared';

@font-face {
  font-family: 'Enemy';
  src: url('/fonts/Enemy.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fjord One';
  src: url('/fonts/FjordOne-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

.dubrovnik--page {
  background: url('../../img/dubrovnik/DSC00818.jpg'), #291F2F, linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 30%);
  background-attachment: fixed;
  height: 120vh;
  width: 100%;
  background-size: cover;
  background-blend-mode: lighten;

  @include breakpoint(sm) {
    height: 130vh;
  }

  .poem {
    font-family: 'Fjord One', serif;
    color: #3C0808;
    column-count: 3;
    column-gap: 2em;
    max-width: 60em;
    padding: 2em;

    strong {
      mix-blend-mode: color-burn;
    }

    @include breakpoint(sm) {
      column-count: 2;
      background-color: rgba(white, .5);
      strong {
        mix-blend-mode: initial;
      }
    }

    @include breakpoint(xs) {
      column-count: 1;
    }
  }

  .date {
    margin-top: 2em;
    text-align: right;
    mix-blend-mode: color-burn;
  }

  .city {
    font-family: 'Enemy', serif;
    font-size: 6em;
    color: #F77A60;
    margin: 1.5em auto;
    max-width: 10em;
    text-align: center;
    position: absolute;
    bottom: 6em;
    left: 0;
    right: 0;

    &:after {
      color: blue;
      content: 'Dubrovnik, Croatia';
      position: absolute;
      top: .1em;
      left: .1em;
      mix-blend-mode: difference;
    }

    @include breakpoint(sm) {
      font-size: 4em;
      margin-bottom: 3em;
    }

    @include breakpoint(xs) {
      font-size: 2.5em;
      margin-bottom: 6em;
      left: -2.8em
    }
  }

  br {
    clear: both;
  }
}