@import '../shared';

@font-face {
  font-family: 'Majesti Banner';
  src: url('/fonts/Majesti-Banner-Book.otf');
  font-weight: normal;
  font-style: normal;
}


.florence--page {
  padding: 3em 3em 15em;
  background: $color--offwhite;

  main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  @include breakpoint(lg) {
      align-items: center;
      justify-content: center;
    }

  @include breakpoint(md) {
      font-size: .9em;
    }

  @include breakpoint(sm) {
      font-size: .8em;
    }

  @include breakpoint(xs) {
      font-size: .75em;
    }

  .title {
    font-family: 'Majesti Banner', cursive;
    font-size: 10em;
    margin: 0;
    text-align: center;
    color: $color--dimgrey;
    font-variant-ligatures: discretionary-ligatures;
    text-transform: lowercase;
    width: 100%;

    @include breakpoint(sm) {
      font-size: 8em;
    }

  }

  .subtitle {
    font-family: 'Majesti Banner', cursive;
    font-size: 2em;
    display: block;
    margin: -1.5em 3em 1em;
    width: 100%;
    color: $color--purple;
    text-transform: lowercase;

    @include breakpoint(sm) {
      font-size: 1.5em;
      margin: -1em 2em;
    }

  }

  .poem-one {
    float: left;

    h2 {
      float: left;
    }
  }

  .poem-two {
    margin-left: 50%;
    float: right;
    width: 45%;
    padding-left: 1em;

    h2 {
      float: right;
    }
  }

  br {
    line-height: 2.5em;
  }

  .poem-one h2, .poem-two h2{
    margin: 1em;
    font-size: 4em;
    text-transform: lowercase;
    font-family: 'Majesti Banner', cursive;
    color: $color--purple;
    background-color: rgb(236, 236, 176);
    border-radius: 50%;

    @include breakpoint(lg) {
      text-align: center;
      float: none;
      height: 1.8em;
      width: 1.8em;
      line-height: 1.8;
      margin: 1em auto;
    }

    @include breakpoint(sm) {
      font-size: 3em;
    }
  }

  .poem-one,
  .poem-two {
    font-family: 'EB Garamond', serif;
    font-size: 1.4em;
    line-height: 1.6;
    // max-width: 28em;
    margin-right: 2em;
    width: 50%;

    @include breakpoint(lg) {
      max-width: 24em;
      margin: 0 auto;
      width: 100%;
      padding: 0;
      clear: both;
    }

    p::first-line {
      margin-top: 2.5em;
      color: $color--purple;
      background: mix($color--offwhite, rgb(236, 236, 176), 50%);
    }
  }

  .image-gallery {
    float: left;
    max-width: 600px;
    display: block;
    width: 45%;
    padding-left: 2em;

    @include breakpoint(lg) {
      margin-top: 4em;
      width: 100%;
    }

    img {
      mix-blend-mode: multiply;
      width: 70%;
    }

    .ponte-vecchio {
      margin: -30% 40%;
    }

    .top-of-city {
      margin: 5% 10%;
    }

    .from-duomo {

    }
  }

  .sketch {
    background: url('../img/florence/sketch.jpg');
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1000px;
    opacity: 0.25;
    width: 50%;
    -webkit-filter: brightness(132%) contrast(117%);
    mix-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
  }
}