@import '../shared';

@font-face {
  font-family: 'Majesti Banner';
  src: url('/fonts/Majesti-Banner-Book.otf');
  font-weight: normal;
  font-style: normal;
}


.florence--page {
    padding: 3em 3em 15em;
    background: url(../../img/florence/pontevecchio.jpg), linear-gradient(-235deg, transparent 60%,#F1E08B 60%);
    background-blend-mode: screen;
    background-size: cover;
    background-attachment: fixed;

  main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  @include breakpoint(lg) {
      align-items: center;
      justify-content: center;
    }

  @include breakpoint(md) {
      font-size: .9em;
    }

  @include breakpoint(sm) {
      font-size: .8em;
    }

  @include breakpoint(xs) {
      font-size: .75em;
    }

  .title {
    font-family: 'Majesti Banner', cursive;
    font-size: 15em;
    margin: 0;
    text-align: center;
    font-variant-ligatures: discretionary-ligatures;
    text-transform: lowercase;
    width: 100%;
    color: #06B3A5;
    mix-blend-mode: difference;

    @include breakpoint(sm) {
      font-size: 10em;
    }

    @include breakpoint(xs) {
      font-size: 7em;
    }

  }

  .subtitle {
    font-family: 'Majesti Banner', cursive;
    font-size: 5em;
    margin: -3.3em 2em 0;
    color: #8B6EDD;
    text-transform: lowercase;
    max-width: 530px;

    @include breakpoint(sm) {
      font-size: 3.5em;
      margin: -3.4em 2.2em;
    }

  }

  .poem-one, .poem-two {
    margin-left: 50%;
    float: right;
    width: 45%;
    padding-left: 1em;

    h2 {
      float: right;
    }
  }

  br {
    line-height: 2.5em;
  }

  .poem-one h2, .poem-two h2{
    margin: 1em;
    font-size: 4em;
    text-transform: lowercase;
    font-family: 'Majesti Banner', cursive;
    background-color: #D5221D;
    border-radius: 50%;
    color: #FBF1B5;
    mix-blend-mode: multiply;

    @include breakpoint(lg) {
      text-align: center;
      float: none;
      height: 1.8em;
      width: 1.8em;
      line-height: 1.8;
      margin: 1em auto;
    }

    @include breakpoint(sm) {
      font-size: 3em;
    }
  }

  .poem-one,
  .poem-two {
    font-family: 'EB Garamond', serif;
    font-size: 1.4em;
    line-height: 1.6;
    padding: 2em;
    margin-right: 2em;
    width: 50%;

    @include breakpoint(lg) {
      max-width: 24em;
      margin: 0 auto;
      width: 100%;
      clear: both;
    }

    p::first-line {
      margin-top: 2.5em;
      color: #8B6EDD;
    }

  mark {
    background-color: #D3CFFB;
    padding: .4em 0;
  }
}

.sketch {
    background: url('../img/florence/sketch.jpg');
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1000px;
    opacity: .6;
    width: 50%;
    -webkit-filter: brightness(153%) contrast(134%) opacity(70%);
    mix-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
  }
}