@import '../shared';

.florence--page {
  padding: 3em 3em 15em;
  background: $color--offwhite;

  main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  @include breakpoint(lg) {
      align-items: center;
      justify-content: center;
    }

  .title {
    font-family: 'League Script', cursive;
    font-size: 10em;
    margin: 0;
    text-align: center;
    color: $color--dimgrey;
  }

  .subtitle {
    font-family: 'League Script', cursive;
    font-size: 2em;
    text-align: center;
    display: block;
    margin: -1.5em 3em 1em;
    width: 100%;
    color: $color--purple;
  }

  .poem-one {
    h2 { float: left; }
    float: left;
  }

  .poem-two {
    margin-left: 50%;

    h2 { float: right; }
    float: right;
    width: 45%;
    padding-left: 1em;
  }

  br {
    line-height: 2.5em;
  }

  .poem-one h2, .poem-two h2{
    margin: 1em;
    font-size: 4em;
    font-family: 'League Script', cursive;
    color: $color--purple;
    background-color: rgb(236, 236, 176);
    border-radius: 50%;

    @include breakpoint(lg) {
      text-align: center;
      float: none;
    }
  }

  .poem-one,
  .poem-two {
    font-family: 'EB Garamond', serif;
    font-size: 1.4em;
    line-height: 1.6;
    // max-width: 28em;
    margin-right: 2em;
    width: 50%;

    @include breakpoint(lg) {
      max-width: 24em;
      margin: 0 auto;
      width: 100%;
      padding: 0;
      clear: both;
    }

    p::first-line {
      margin-top: 2.5em;
      color: $color--purple;
      background: mix($color--offwhite, rgb(236, 236, 176), 50%);
    }
  }

  .image-gallery {
    float: left;
    max-width: 600px;
    display: block;
    width: 45%;
    padding-left: 2em;

    @include breakpoint(lg) {
      margin-top: 4em;
      width: 100%;
    }

    img {
      mix-blend-mode: multiply;
      width: 70%;
    }

    .ponte-vecchio {
      margin: -30% 40%;
    }

    .top-of-city {
      margin: 5% 10%;
    }

    .from-duomo {

    }
  }
}