@import '../shared';

$box-shadow--size: 25px;

.title,
.subtitle {
  text-align: center;
}

.title {
  margin: 1em 0 0;
  font-size: 3em;
}

.post-list {
  width: 100%;
  max-width: 1200px;
  margin: 2em auto;
  display: flex;
  flex-flow: row wrap;

  li {
    flex: auto;
    width: 260px;
    margin: 2em .5em;
  }

  &__visual {
    height: 200px;
    position: relative;
    margin: $box-shadow--size + 5px auto;
    width: 200px;
    box-shadow:
      0 0 0 ($box-shadow--size - 5px) $color--lightgrey,
      0 0 0 $box-shadow--size $color--darkerpurple;
  }

  &__img {
    height: 100%;
    width: 100%;

    &-blender {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      // .berlin & {
      //   background: linear-gradient(left, rgb(148, 38, 142) 0%, rgba(200, 200, 200, 0) 100%);
      //   mix-blend-mode: multiply;
      // }
    }
  }

  &__loc {
    font-size: 1.5em;
    text-align: center;
  }

  &__date {
    color: $color--purple;
    text-align: center;
    display: block;
  }
}
