@import '../shared';

.krakow--page {
  min-height: 100vh;

  .poem-area {
    max-width: 40%;
    display: block;
    padding: 2em;
  }

  .poem {
    font-size: 1.5em;
    font-family: serif;
    max-width: 24em;
    margin: 0 auto;
    float: left;

  }

  .img-area {
    max-width: 50%;
    float: left;

    .img-one {
      width: 400px;
      height: 600px;
      background: url('../../img/krakow/street.jpg');
      background-size: cover;
      margin: -2em 0 0 0;
      // filter: grayscale(1);
      transform: rotate(-2deg);
    }

    .img-two {
      width: 500px;
      height: 600px;
      position: absolute;
      z-index: -1;
      background: url('../../img/krakow/street.jpg');
      background-size: cover;
      filter: grayscale(1);
      transform: rotate(8deg);
      top: 2em;
      right: 0;
    }
  }
}