@import '../shared';

// DONT FORGET TO INCLUDE FONTS

$offwhite: #eee;

$colors: 1 hotpink, 2 yellow, 3 #96DC00, 4 #00FFE2, 5 red, 6 #FF7B00, 7 lightgreen, 9 #00B2FF, 8 tan;

.london--page {
  background-color: $offwhite;
}

.photograph-composition {
  padding: 1em .5em 3em;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;

  li {
    position: relative;
    margin: 1em;
    flex-basis: 430px;
    display: block;
    height: 430px;

    @each $num, $color in $colors {
      &:nth-child(#{$num}) {
        background: $color
      };
    }
  }

  .visual {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img { //MAKE VERTICALLY CENTERED w/FLEX
    width: 50%;
    margin-top: 25%;
    mix-blend-mode: multiply;
  }

  .poem {
    position: relative;
    padding: 1.4em 1.6em;
    text-align: justify;
    font-size: 1.05em;
    line-height: 1.5;
    margin: 2.8em;
    background: $offwhite;
    font-family: 'Arapey';
    height: calc(100% - 5.6em);

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .date {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -.4em;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 4.5em;
    display: block;
    color: #E93939;
    mix-blend-mode: difference;
  }
}