@import '../shared';

.melbourne--page {
  min-height: 105vh;

  .poem {
    max-width: 24em;
    height: 100%;
    max-width: 20em;
    // float: left;
    // position: absolute;

    br {
      clear: both;
    }

    span {
      font-style: italic;
      padding: 1em 2em;
      display: block;
      margin-bottom: -1em;
      border-left: 2px solid currentColor;
    }
  }

  .bottom {
    margin-top: -1em;
  }

  .side-one {
    width: 40%;
    height: 105vh;
    background: #222;
    padding: 2em;
    color: white;
    float: left;
  }

  .side-two {
    background: url('../../img/melbourne/baller.jpg'), white;
    background-blend-mode: multiply;
    background-size: cover;
    // background-repeat: no-repeat;
    width: 60%;
    min-height: 105vh;
    float: right;
    animation: colorShift 40s steps(1) infinite alternate;
  }



  // .img-area-1 {
  //   position: absolute;
  //   shape-outside: content-box;
  //   top: -10em;
  //   right: 0;
  //   width: 400px;
  //   transform: rotate(-20deg);
  // }

  // .img-area-2 {
  //   // position: absolute;
  //   float: left;
  //   shape-outside: content-box;
  //   top: -15em;
  //   left: 0em;
  //   width: 400px;
  //   transform: rotate(10deg);

  // }
}

@keyframes colorShift {
  0% {
    background: url('../../img/melbourne/baller.jpg'), rgba(tomato, .25);
    background-blend-mode: multiply;
    background-size: cover;
  }
  10% {
    background: url('../../img/melbourne/baller.jpg'), rgba(yellow, .25);
    background-blend-mode: multiply;
    background-size: cover;
  }
  20% {
    background: url('../../img/melbourne/baller.jpg'), rgba(lightblue, .25);
    background-blend-mode: multiply;
    background-size: cover;
  }
  30% {
    background: url('../../img/melbourne/baller.jpg'), rgba(hotpink, .25);
    background-blend-mode: multiply;
    background-size: cover;
  }
  40% {
    background: url('../../img/melbourne/baller.jpg'), rgba(#69D39E, .25);
    background-blend-mode: multiply;
    background-size: cover;
  }
  50% {
    background: url('../../img/melbourne/baller.jpg'), rgba(blue, .25);
    background-blend-mode: multiply;
    background-size: cover;
  }
  60% {
    background: url('../../img/melbourne/baller.jpg'), rgba(hotpink, .25);
    background-blend-mode: multiply;
    background-size: cover;
  }
  70% {
    background: url('../../img/melbourne/baller.jpg'), white;
    background-blend-mode: multiply;
    background-size: cover;
  }
  80% {
    background: url('../../img/melbourne/baller.jpg'), rgba(#D39B28, .25);
    background-blend-mode: multiply;
    background-size: cover;
  }
  90% {
    background: url('../../img/melbourne/baller.jpg'), rgba(green, .25);
    background-blend-mode: multiply;
    background-size: cover;
  }
  100% {
    background: url('../../img/melbourne/baller.jpg'), rgba(hotpink, .25);
    background-blend-mode: multiply;
    background-size: cover;
  }
}