@import '../shared';


@font-face {
  font-family: 'CloisterBlack';
  src: url('/fonts/CloisterBlack.ttf');
  font-weight: normal;
  font-style: normal;
}

.munich--page {
  overflow: hidden;
  height: 120vh;
  font-family: 'CloisterBlack';
  font-size: 1.3em;
  background: url('../img/munich/munich.jpg') 0 / cover fixed;

  .centerer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105vh;
  }

  br {
    clear: both;
  }

  .text-container {
    margin-top: -3em;
    color: #222;
    max-width: 50%;
    // background-color: white;
    // box-shadow: 0px 0px 0px 10px black, 0px 0px 0px 30px  white;
    border: 10px solid currentColor;
    padding: 3em 4em;
    overflow: hidden;
    // mix-blend-mode: multiply;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top:0; right: 0; bottom: 0; left: 0;
      background: url('../img/munich/munich.jpg') 0 / cover fixed;
      filter: blur(15px) brightness(1.3);
      margin: -30px;
    }
  }

  .blur-aligner {
    filter: blur(3px);
  }

  .beer-garten {
    // animation: blurout 2s ease-in-out alternate infinite;
    z-index: -1;
    position: absolute;
  }

  .city,
  .date {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .poem {
    position: relative;
    z-index: 1;

    .highlight {
      color: #E6D615;
      float: right;
      margin: 1em 0;
    }

    .flr {
      float: right;
    }
  }

  .city {
    font-size: 3em;
    margin-top: -.5em;
  }

  .date {
    border-bottom: 3px double currentColor;
    margin-bottom: .25em;
    padding-bottom: .25em;
    font-size: 1.5em;
  }
}



// @keyframes blurout {
//   0% {
//     filter: blur(0) brightness(1);
//   }
//   50% {
//     filter: blur(0) brightness(1);
//   }
//   100% {
//     filter: blur(2px) brightness(.8);
//   }
// }