@import '../shared';


.beer-garten {
  animation: blurout 2s ease-in-out alternate infinite;
  // position: absolute;
  z-index: -1;
}

@keyframes blurout {
  0% {
    filter: blur(0) brightness(1);
  }
  50% {
    filter: blur(0) brightness(1);
  }
  100% {
    filter: blur(2px) brightness(.8);
  }
}