@import '../shared';

@font-face {
  font-family: 'Berylium Bold';
  src: url('/fonts/Beryliumbold.ttf');
  font-weight: normal;
  font-style: normal;
}

.negev--page {
  font-family: 'Berylium Bold', serif;
  min-height: 100vh;
  background: url('../../img/negev/sunrise.jpg'), linear-gradient(-60deg, #3E052D 0,transparent 50%, #015661 100%);

  @include breakpoint(xs) {
    background: url('../../img/negev/sunrise-sm.jpg'), linear-gradient(-60deg, #3E052D 0,transparent 50%, #015661 100%);
  }

  background-blend-mode: saturation;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  padding: 4em;
  position: relative;

  .title-info {
    font-size: 10em;
    position: absolute;
    bottom: 0;
    left: -.05em;
    color: rgba(255, 133, 70, 0.81);
  }

  .city {
    mix-blend-mode: soft-light;
  }

  .date {
    font-size: .5em;
    display: block;
    line-height: .2em;
    margin: -0.5em 0 1em .8em;
    mix-blend-mode: soft-light;
  }

  .poem {
    background: white;
    display: block;
    padding: 3em;
    max-width: 26em;
    box-shadow: 0px 0px 0px 10px grey, 0px 0px 0px 15px  white, 0px 0px 0px 20px grey, 0px 0px 0px 23px  white;
    mix-blend-mode: soft-light;


    // @include breakpoint(md) {
      background: rgba(0,0,0,.7);
      color: goldenrod;
          box-shadow: 0 0 0 10px #5F2323,0 0 0 15px rgba(0,0,0,.7),0 0 0 20px #926005,0 0 0 23px rgba(0,0,0,.7);
      mix-blend-mode: luminosity;
    // }

    @include breakpoint(sm) {
      margin: -2em -2em 15em;
      padding: 1em;
    }
  }

  .stamp {
    background: url('../../img/negev/lechlecha.jpg');
    background-size: cover;
    display: block;
    position: absolute;
    top: 24em;
    left: 30%;
    width: 300px;
    height: 300px;
    mix-blend-mode: screen;
    filter: brightness(1.5) contrast(1.1) invert(100%) sepia(40%) hue-rotate(330deg);
  }
}

