@import '../shared';

.paris--page {
  background: url('http://www.bourbon-paris-hotel.com/media/galerie/accueil2-hotel-3-etoiles-paris-1.jpg'), #2947e4;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'David Libre', 'Open Sans', sans-serif;

  .border {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    margin-bottom: 3em;
    flex-wrap: wrap;
    border: 1px solid rgba(255,255,255,.5);
    max-width: 940px;
    margin: 6em auto 8.5em;
    background: linear-gradient(-120deg,rgba(16, 11, 11, 0.17),#010431,rgba(90, 0, 20, 0.72));
    position: relative;

    &:after {
      content: 'Paris, France—December 2012';
      color:white;
      position: absolute;
      right: -115px;
      top: 90px;
      opacity: .5;
      transform: rotate(90deg);
      
    }
  }
}

.large-letter {
  font-family: 'Gravitas-One', serif;
  mix-blend-mode: exclusion;
  font-size: 20em;
  padding-right: 4rem;
  border-right: 1px solid rgba(255,255,255,.5);
  margin-right: 4rem;
  font-weight: 800;
  background-image: url('http://static5.comicvine.com/uploads/square_medium/10/100555/3329556-the-eiffel-tower-might-be-part-of-an-upcoming-mini-world-attraction-dubai.jpg');
  background-position: 0;
  background-size: contain;
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(0,0,0,0);
}

.poem {
  color: #8c9ae6;
  mix-blend-mode: exclusion;
  max-width: 28em;
  line-height: 1.8;
}