@import '../shared';

.prague--page {
  overflow: hidden;
  padding: 2em;

  .metadata {
    text-align: center;
    display: block;
    color: #d08282;
  }

  .diamond {
    float: left;
    width: 200px*1.5;
    height: 200px*1.5;
    margin: 50px*1.5;
    transform: rotate(-45deg);
    overflow: hidden;

    img {
      width: 300px*1.5;
      height: 300px*1.5;
      margin: -50px*1.5;
      transform: rotate(45deg);
      max-width: initial;
    }
  }

  .poem-section {
    float: left;
    width: 400px;
    height: 400px;
    margin: 25px;
  }

  p {
    text-align: justify;
    // background-color: lemonchiffon;
    height: 100%;
    font-family:'Alegreya';
    font-style: italic;
    line-height: 1.4;
    font-size: 1.2em;
  }

  .wrap-before {
      shape-outside: polygon(0 0,0 100%,100% 100%,0 50%,100% 0);
      float: left;
      width: 50%;
      height: 100%;
      // background-color: white;
      // clip-path: polygon(0 0,0 100%,100% 100%,0 50%,100% 0);
  }

  .wrap-after {
      shape-outside: polygon(100% 0,100% 100%,0% 100%,100% 50%,0% 0);
      float: right;
      width: 50%;
      height: 100%;
      // background-color: white;
      // clip-path: polygon(100% 0,100% 100%,0% 100%,100% 50%,0% 0);
  }
}