@import '../shared';

.prague--page main {
  overflow: hidden;
  padding: 2em;
  margin: 0 auto;
  max-width: 1600px;

  @include breakpoint(xl) {
    max-width: 970px;
  }

  @include breakpoint(md) {
    max-width: 440px;
    padding: 1em 0;
  }

  @include breakpoint(xs) {
    max-width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .metadata {
    text-align: center;
    display: block;
    color: #d08282;
  }

  .diamond {
    float: left;
    width: 200px*1.5;
    height: 200px*1.5;
    margin: 50px*1.5;
    transform: rotate(-45deg);
    overflow: hidden;

    @include breakpoint(xs) {
      width: 250px;
      height: 250px;
      margin: 60px;
    }

    img {
      width: 450px;
      height: 450px;
      margin: -75px;
      transform: rotate(45deg);
      max-width: initial;
      filter: contrast(1.2) brightness(1.2);

      @include breakpoint(xs) {
        width: 400px;
        height: 400px;
      }

    }

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background:
          radial-gradient(circle at 50% 10%,#F7C890 -10%,transparent 90%),linear-gradient(140deg,#34AFCB -20%,transparent 60%),linear-gradient(-150deg,#B43636 -10%,transparent 60%),radial-gradient(40% 50% at 50% 120%,rgba(30,12,76,.9),rgba(20, 7, 124, 0));
        mix-blend-mode: multiply;
        filter: contrast(1.3);

        @include breakpoint(xs) {
          height: 250px;
        }
      }
  }

  .poem-section {
    float: left;
    width: 400px;
    height: 400px;
    margin: 25px;

    @include breakpoint(xs) {
      width: 350px;
      height: 350px;
      font-size: .88em;
      margin: 10px;
    }
  }

  p {
    text-align: justify;
    // background-color: lemonchiffon;
    height: 100%;
    font-family:'Alegreya';
    font-style: italic;
    line-height: 1.4;
    font-size: 1.2em;
  }

  .wrap-before {
      shape-outside: polygon(0 0,0 100%,100% 100%,0 50%,100% 0);
      float: left;
      width: 50%;
      height: 100%;
      // background-color: white;
      // clip-path: polygon(0 0,0 100%,100% 100%,0 50%,100% 0);
  }

  .wrap-after {
      shape-outside: polygon(100% 0,100% 100%,0% 100%,100% 50%,0% 0);
      float: right;
      width: 50%;
      height: 100%;
      // background-color: white;
      // clip-path: polygon(100% 0,100% 100%,0% 100%,100% 50%,0% 0);
  }
}