@import '../shared';

@font-face {
  font-family: 'Bushcraft';
  src: url('/fonts/Bushcraft-textured.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berylium';
  src: url('/fonts/Berylium.ttf');
  font-weight: normal;
  font-style: normal;
}

@mixin hexagon($size, $color) {
  width: $size*2;
  height: $size*1.1;
  background: $color;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: $size/-2;
    left: 0;
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size/2 solid $color;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: $size/-2;
    left: 0;
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size/2 solid $color;
  }
}


.washington--page {
  overflow: hidden;

  h1, h2 {
    font-family: 'Bushcraft';
    text-align: center;
  }

  h1 {
    font-size: 3em;

    @include breakpoint(md) {
      font-size: 2em;
    }
  }

  h2 {
    font-size: 2em;

    @include breakpoint(md) {
      font-size: 1em;
    }
  }

  p {
    font-family: 'Berylium';
    padding: 2em;
    line-height: 1.5;
    max-width: 24em;
    margin: 0 auto;

    @include breakpoint(md) {
      padding: 0 .25em 0 2em;
    }

    @include breakpoint(sm) {
      padding: 0 2em;
    }
  }

  br {
    clear: both;
  }

  .img-area {
    width: 100%;
    height: 105vh;
    flex: 2;

    @include breakpoint(sm) {
      height: 65vh;
    }
  }

  .poem-area {
    color: #686969;
    flex: 1;
    // margin: 4em 0;
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;

    @include breakpoint(sm) {
      width: 100%;
      min-height: 35em;
      margin-bottom: 5em;
    }
  }

  .marina {
    background: url('../img/washington/marina.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(20%) brightness(85%);
    background-position: 50%;
  }

  $wood-color: rgba(white, .7);

  .title-badge {
    mix-blend-mode: screen;
    color: black;
    padding: 2em;
    width: 80%;
    max-width: 450px;
    top: -65vh;
    margin: 0 auto;
    background:  $wood-color;
    position: relative;

    box-shadow: 0px 0px 0px 5px black,0px 0px 0px 10px  $wood-color;

    @include breakpoint(sm) {
      top: -40vh;
    }

    &:before {
      content: '\2B22';
      position: absolute;
      width: 100%;
      left: 0;
      font-size: 24em;
      color: $wood-color;
      text-align: center;
      top: -.7em;
      z-index: -1;

      @include breakpoint(md) {
        font-size: 16em;
      }
    }

    &:after {
      content: '\2B22';
      position: absolute;
      width: 100%;
      left: 0;
      font-size: 24em;
      color: $wood-color;
      text-align: center;
      top: -.55em;
      z-index: -1;

      @include breakpoint(md) {
        font-size: 16em;
      }
    }

    @include breakpoint(xs) {
      background: rgba(white, .9);

      &:before,
      &:after {
        display: none;
      }
    }
  }

  main {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }
}