%font-base {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

// Berlin:
@font-face {
    font-family: 'hvd-peace';
    src: url('fonts/HVD_Peace-webfont.eot');
    src: url('fonts/HVD_Peace-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/HVD_Peace-webfont.woff') format('woff'),
         url('fonts/HVD_Peace-webfont.ttf') format('truetype'),
         url('fonts/HVD_Peace-webfont.svg#hvd_peaceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
