// Base Colors
$color--dimgrey:      #696969;
$color--lightgrey:    #f2f2f2;
$color--offwhite:     #F9F7E2;
$color--cream:        #ffc7ab;
$color--purple:       #997c90;
$color--darkerpurple: #5a4b60;
$color--navy:         #295c5e;
$color--blue:         #15adbc;